#coockieScreen {
    display: block;
}

#cookie {
    width: 200px;
    height: 200px;
    margin: auto;
}

#cookieImg {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 50%;
}

#cookieImg:active {
    transform: translateY(4px);
}

.halfscreen {
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    margin: auto;
}


#cookieCounter {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: green;
}